@model Gyumri.Data.Models.Article
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Article";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Article</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>Title (EN)</label>
        <input asp-for="Title" class="form-control" />

        <label>Title (ARM)</label>
        <input asp-for="TitleArm" class="form-control" />

        <label>Title (RUS)</label>
        <input asp-for="TitleRus" class="form-control" />
    </div>

    <hr />

    <div id="blocks-container">
        @for (int i = 0; i < Model.Blocks.Count; i++)
        {
            <input type="hidden" name="Blocks[@i].Id" value="@Model.Blocks[i].Id" />
            <input type="hidden" name="Blocks[@i].Order" value="@Model.Blocks[i].Order" />
            <input type="hidden" name="Blocks[@i].BlockType" value="@Model.Blocks[i].BlockType" />

            if (Model.Blocks[i].BlockType == "Paragraph")
            {
                <div class="mb-3">
                    <label>Paragraph (EN)</label>
                    <textarea id="editor-en-@i" name="Blocks[@i].Content" class="form-control">@Html.Raw(Model.Blocks[i].Content)</textarea>

                    <label>Paragraph (ARM)</label>
                    <textarea id="editor-arm-@i" name="Blocks[@i].ContentArm" class="form-control">@Html.Raw(Model.Blocks[i].ContentArm)</textarea>

                    <label>Paragraph (RUS)</label>
                    <textarea id="editor-rus-@i" name="Blocks[@i].ContentRus" class="form-control">@Html.Raw(Model.Blocks[i].ContentRus)</textarea>
                </div>
            }
            else if (Model.Blocks[i].BlockType == "Image")
            {
                <div class="mb-3">
                    <label>Current Image:</label><br />
                    <img src="@Model.Blocks[i].Content" width="200" />
                    <input type="file" name="imageFiles" class="form-control" />
                    <input type="hidden" name="Blocks[@i].Content" value="@Model.Blocks[i].Content" />
                </div>
            }
        }
    </div>

    <div class="mb-4">
        <button type="button" class="btn btn-outline-primary me-2" onclick="addBlock('Paragraph')">Add Paragraph</button>
        <button type="button" class="btn btn-outline-secondary" onclick="addBlock('Image')">Add Image</button>
    </div>

    <button type="submit" class="btn btn-success">Save Changes</button>
</form>

<script src="https://cdn.ckeditor.com/ckeditor5/41.0.0/classic/ckeditor.js"></script>

<script>
    let blockIndex = @Model.Blocks.Count;
    const editors = [];

    document.addEventListener("DOMContentLoaded", () => {
        const langIds = ["en", "arm", "rus"];
        langIds.forEach(lang => {
            for (let i = 0; i < blockIndex; i++) {
                const textarea = document.querySelector(`#editor-${lang}-${i}`);
                if (textarea) {
                    ClassicEditor.create(textarea)
                        .then(editor => editors.push(editor))
                        .catch(console.error);
                }
            }
        });

        document.querySelector('form').addEventListener('submit', () => {
            editors.forEach(editor => editor.updateSourceElement());
        });
    });

    function addBlock(type) {
        const container = document.getElementById("blocks-container");
        let html = `<div class="mb-3">
                <input type="hidden" name="Blocks[${blockIndex}].Id" value="0" />
                <input type="hidden" name="Blocks[${blockIndex}].Order" value="${blockIndex}" />
                <input type="hidden" name="Blocks[${blockIndex}].BlockType" value="${type}" />`;

        if (type === "Paragraph") {
            html += `
                    <label>Paragraph (EN)</label>
                    <textarea id="editor-en-${blockIndex}" name="Blocks[${blockIndex}].Content" class="form-control"></textarea>

                    <label>Paragraph (ARM)</label>
                    <textarea id="editor-arm-${blockIndex}" name="Blocks[${blockIndex}].ContentArm" class="form-control"></textarea>

                    <label>Paragraph (RUS)</label>
                    <textarea id="editor-rus-${blockIndex}" name="Blocks[${blockIndex}].ContentRus" class="form-control"></textarea>
                `;
        } else {
            html += `
                    <label>New Image:</label>
                    <input type="file" name="imageFiles" class="form-control" />
                    <input type="hidden" name="Blocks[${blockIndex}].Content" value="" />
                `;
        }

        html += `</div>`;
        container.insertAdjacentHTML("beforeend", html);

        if (type === "Paragraph") {
            setTimeout(() => {
                ["en", "arm", "rus"].forEach(lang => {
                    ClassicEditor.create(document.querySelector(`#editor-${lang}-${blockIndex}`))
                        .then(editor => editors.push(editor))
                        .catch(console.error);
                });
            }, 100);
        }

        blockIndex++;
    }
</script>
