@{
    // ViewData["Title"] = "Home Page";
    var currentCulture = Context.Request.Cookies["UserCulture"] ?? "en";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GyumriFinalVersion</title>
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GyumriFinalVersion.styles.css" asp-append-version="true" /> *@
</head>
<body style="background-color:black;">

    <nav class="navbar navbar-dark bg-black navbar-expand-lg">
        <div class="container px-0">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/content/Images/Vector.png" alt="Logo" height="30"></a>

            <!-- Toggler button for small screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Content -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            @AppRes.Home
                        </a>
                    </li>
                        @foreach (var menuItem in ViewBag.Categories)
                    {
                        
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Category" asp-controller="Home" asp-route-categoryId="@menuItem.CategoryId">
                                    @menuItem.Name
                                </a>
                            </li>
                     }

                        </ul> 
               
                <div class="d-flex" style="display:flex;align-items: center;justify-content: center;">
                    <div class="search-container">
                        <a class="nav-link search-icon" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <input type="text" class="search-input" placeholder="Search...">
                    </div>
                    <a class="nav-link" href="@Url.Action("MyList", "Home")"><i class="fa-regular fa-bookmark"></i></a>
                                            <div class="language-dropdown">

                        <form asp-controller="Home" asp-action="ChangeLanguage" method="POST">

                            <select style="border:none; background-color:transparent; color:white;" name="lang" onchange="this.form.submit()">
                                @if (currentCulture == "en")
                                {
                                    <option class="nav-link" value="en" selected>English</option>
                                }
                                else
                                {
                                    <option class="nav-link" style="color:#000;" value="en">English</option>
                                }
                                @if (currentCulture == "hy-AM")
                                {
                                    <option value="hy-AM" selected>Հայերեն</option>
                                }
                                else
                                {
                                    <option value="hy-AM" style="color:#000;">Հայերեն</option>
                                }
                                @if (currentCulture == "ru-RU")
                                {
                                    <option value="ru-RU" selected>Русский</option>
                                }
                                else
                                {
                                    <option value="ru-RU" style="color:#000;">Русский</option>
                                }

                            </select>

                        </form>
                    </div>


                </div>
            </div>

            
        </div>
    </nav>
    <div >
        <main role="main" style="background-color:white; padding-bottom:60px;">
          

            @RenderBody()
        </main>
    </div>

    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <div class="footer-logo">
                        <img src="~/content/Images/Vector.png" alt="Logo" style="width: 60px; height: 60px;">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 footer-section footer-contact">
                    <div class="footer-section">CONTACT</div><br>
                    <p>Vardanants St. 1</p>
                    <p>Gyumri, Shirak Marz, RA</p>
                    <p>+ 374 95 2 58 206</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 footer-section footer-about">
                    <div class="footer-section">ABOUT THIS WEBSITE</div><br>
                    <p><a href="#" class="footer-link">About gyumritourism.com</a></p>
                    <p><a href="#" class="footer-link">Privacy Policy</a></p>
                    <p><a href="#" class="footer-link">Accessibility statement</a></p>
                </div>
                <div class="col-lg-3 col-md-6 footer-section footer-links">
                    <div class="footer-section">OTHER LINKS</div><br>
                    <p><a href="#" class="footer-link">Plan a Trip</a></p>
                    <p><a href="#" class="footer-link">For Media</a></p>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
