@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Gyumri.Common.Utility
@using Gyumri.Data.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentCulture = Context?.Request?.Cookies["UserCulture"] ?? "en";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Getting Here - Travel Planner</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
<link rel="stylesheet" href="~/Content/css/step1.css">
<link rel="stylesheet" href="~/Content/css/step2.css">

<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />


<!-- Main Content -->
<div class="main-content">
    <!-- Progress Steps -->
    <div class="progress-steps">
        <div class="step active">
            <div class="step-icon">
                <i class="fa-solid fa-car"></i>
            </div>
            <div class="step-text"> @AppRes.GettingToAround </div>
        </div>
        <div class="step-divider"></div>
        <div class="step active">
            <div class="step-icon">
                <i class="fa-solid fa-bed"></i>
            </div>
            <div class="step-text"> @AppRes.WheretoStay </div>
        </div>
        <div class="step-divider"></div>
        <div class="step">
            <div class="step-icon">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="step-text">@AppRes.WhatToDo</div>
        </div>
        <div class="step-divider"></div>
        <div class="step">
            <div class="step-icon">
                <i class="fa-solid fa-check"></i>
            </div>
            <div class="step-text">@AppRes.Finalizing</div>
        </div>
    </div>

</div>

<!-- Filters -->
<div id="filter-buttons" class="mb-3 d-flex justify-content-center">
    @foreach (var item in Util.GetEnumForFirstPage())
    {
        <a href="@Url.Action("WheretoStay", "Trip", new { selectedPlaceType = item, currentPage = 1 })" style="text-decoration:none !important;">
            <button type="button" class="filter-btn btn btn-dark me-2 mb-2" data-type="@item">
                <i class="fa-solid fa-hotel"></i>
                @Util.GetPlaceTypeNameByEnumType(item)
            </button>
        </a>
    }
</div>



<div class="accommodation-list">
    <form asp-action="WheretoStay" asp-controller="Trip" method="post" id="placeForm">
        @foreach (var place in ViewBag.Places)
        {
            <div class="accommodation-item">
                <div class="item-selection">
                    <input type="radio" name="selectedPlaceId" value="@place.Id">
                </div>
                <div class="item-image">
                    <img src="~/Images/places/@place.Photo" />
                </div>
                <div class="item-details">
                    @if (currentCulture == "ru-RU")
                    {
                        <h3>@place.PlaceNameRu</h3>
                    }
                    else if (currentCulture == "hy-AM")
                    {
                        <h3>@place.PlaceNameArm</h3>
                    }
                    else
                    {
                        <h3>@place.PlaceName</h3>
                    }
                    <div class="item-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>

                    @if (currentCulture == "ru-RU")
                    {
                        <p>@place.DescriptionRu</p>
                    }
                    else if (currentCulture == "hy-AM")
                    {
                        <p>@place.DescriptionArm</p>
                    }
                    else
                    {
                        <p>@place.Description</p>
                    }
                </div>
                <div class="item-price">
                    <div class="price-tag">
                        <i class="fa-solid fa-tag"></i>
                        <span>@place.MinPrice - @place.MaxPrice ֏ AMD / @AppRes.night</span>
                    </div>
                    <a href="@Url.Action("Category", "Home", new { categoryId = 1 })" class="more-details">@AppRes.SeeMore <i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </div>
        }
    </form>
</div>

    <div class="navigation-buttons">
        <a href=@Url.Action("FirstStep", "Trip") class="back-btn">
            <i class="fa-solid fa-arrow-left"></i>
            @AppRes.Back
        </a>
        <div class="pagination">
            @if (ViewBag.CurrentPage > 1)
            {
                <a href="@Url.Action("WheretoStay", "Trip", new { selectedPlaceType = ViewBag.CurrentPlaceType, currentPage = ViewBag.CurrentPage - 1 })" class="page-item"><i class="fa-solid fa-arrow-left"></i></a>
            }
            @if (ViewBag.CurrentPage > 3)
            {
                <a href="@Url.Action("WheretoStay", "Trip", new { selectedPlaceType = ViewBag.CurrentPlaceType, currentPage = 1 })" class="page-item">1</a>
                <span class="page-item">...</span>
            }

            @for (int i = Math.Max(1, ViewBag.CurrentPage - 2); i <= Math.Min(ViewBag.PagesCount, ViewBag.CurrentPage + 2); i++)
            {
                var activeClass = (i == ViewBag.CurrentPage) ? "active" : "";
                <a href="@Url.Action("WheretoStay", "Trip", new {selectedPlaceType = ViewBag.CurrentPlaceType, currentPage = i })"
                   class="page-item @activeClass">@i</a>
            }

            @if (ViewBag.CurrentPage < ViewBag.PagesCount - 2)
            {
                <span class="page-item">...</span>
                <a href="@Url.Action("WheretoStay", "Trip", new { selectedPlaceType = ViewBag.CurrentPlaceType, currentPage = ViewBag.PagesCount })" class="page-item">@ViewBag.PagesCount</a>
            }

            @if (ViewBag.CurrentPage < ViewBag.PagesCount)
            {
                <a href="@Url.Action("WheretoStay", "Trip", new { selectedPlaceType = ViewBag.CurrentPlaceType, currentPage = ViewBag.CurrentPage + 1 })" class="page-item"><i class="fa-solid fa-arrow-right"></i></a>
            }
        </div>

    <button type="submit" form="placeForm" class="next-btn">
            @AppRes.Next
            <i class="fa-solid fa-arrow-right"></i>
        </button>
        @* <a href=@Url.Action("ThirdStep", "Trip") class="next-btn">
                    @AppRes.Next
                    <i class="fa-solid fa-arrow-right"></i>
                </a> *@
    </div>

</div>


    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/e8c2e1c09c.js" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const filterButtons = document.querySelectorAll('.filter-btn');
        filterButtons.forEach(button => {
            button.addEventListener('click', function () {
                filterButtons.forEach(btn => btn.classList.remove('active'));
                this.classList.add('active');
            });
        });

        const accommodationRadios = document.querySelectorAll('input[name="accommodation"]');
        accommodationRadios.forEach(radio => {
            radio.addEventListener('change', function () {
                document.querySelectorAll('.accommodation-item').forEach(item => {
                    item.classList.remove('selected');
                });

                if (this.checked) {
                    this.closest('.accommodation-item').classList.add('selected');
                }
            });
        });

        document.querySelector('.accommodation-item').classList.add('selected');


    });
</script>

@* 
<!-- Navigation Buttons -->
<div class="navigation-buttons">
    <a href=@Url.Action("Index", "Trip") class="back-btn">
        <i class="fa-solid fa-arrow-left"></i>
        @AppRes.Back
    </a>
    <button type="submit" form="myForm" class="next-btn">
        @AppRes.Next
        <i class="fa-solid fa-arrow-right"></i>
    </button>
</div>


<style>
    .placeList{
        width: 1160px;
        max-width: 1200px;
        margin:0 auto;
    }

</style>
 *@