@{
    ViewData["Title"] = @ViewBag.CategoryName;
    var currentCulture = Context.Request.Cookies["UserCulture"] ?? "en";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/Content/css/eat.css">
<link rel="stylesheet" href="~/Content/css/lifeandwork.css">
<link rel="stylesheet" href="~/Content/css/relax.css">
<link rel="stylesheet" href="~/Content/css/see.css">
<link rel="stylesheet" href="~/Content/css/responsive.css">

<title>Document</title>

<section class="see-do-section">
    <div class="overlay"></div>
@if (ViewBag.CategoryName == "See & Do")
{
        <div class="header-image" style="background-image: url('@Url.Content("~/Content/Images/See&Do Hero Banner.png")') !important;">
            <div class="overlay"></div>

            <div class="newheader">
                @if (currentCulture == "en") {
            <h1 class=" header-title">@ViewBag.CategoryName</h1>
                }
                else if (currentCulture == "hy-AM")
                {
                    <h1 class=" header-title">@ViewBag.CategoryNameArm</h1>
                } else if (currentCulture == "ru-RU") {
                    <h1 class=" header-title">@ViewBag.CategoryNameRu</h1>
                }
            <p>@AppRes.SeeAndDoDesc</p>
            </div>

            <div><img class="" src="~/Content/Images/Group.png" alt="Symbols"></div>
        </div>
}
else if (ViewBag.CategoryName == "Eat & Drink")
{
        <div class="header-image" style="background-image: url('@Url.Content("~/Content/Images/eat drink hero banner.png")') !important;">
            <div class="newheader">

                @if (currentCulture == "en")
                {
                    <h1 class=" header-title">@ViewBag.CategoryName</h1>
                }
                else if (currentCulture == "hy-AM")
                {
                    <h1 class=" header-title">@ViewBag.CategoryNameArm</h1>
                }
                else if (currentCulture == "ru-RU")
                {
                    <h1 class=" header-title">@ViewBag.CategoryNameRu</h1>
                }
                <p>@AppRes.EatAndDrinkDesc</p>
</div>
            <div><img class="" src="~/Content/Images/Vector (1).png" alt="Symbols"></div>
    </div>
}
else if (ViewBag.CategoryName == "Relax & Sleep")
{
        <div class="header-image" style="background-image: url('@Url.Content("~/Content/Images/Relax & Sleep Hero Banner.png")') !important;">
            <div class="newheader">

                @if (currentCulture == "en")
                {
                    <h1 class=" header-title">@ViewBag.CategoryName</h1>
                }
                else if (currentCulture == "hy-AM")
                {
                    <h1 class=" header-title">@ViewBag.CategoryNameArm</h1>
                }
                else if (currentCulture == "ru-RU")
                {
                    <h1 class=" header-title">@ViewBag.CategoryNameRu</h1>
                }                <p>@AppRes.RelaxAndSleepDesc</p>
                </div>

        <div><img class="" src="~/Content/Images/Vector (2).png" alt="Symbols"></div>
      </div>
  }
else if (ViewBag.CategoryName == "Live & Work")
{
        <div class="header-image" style="background-image: url('@Url.Content("~/Content/Images/Live and Work Hero Banner.png")') !important;">
                <div class="newheader">

                @if (currentCulture == "en")
                {
                    <h1 class=" header-title">@ViewBag.CategoryName</h1>
                }
                else if (currentCulture == "hy-AM")
                {
                    <h1 class=" header-title">@ViewBag.CategoryNameArm</h1>
                }
                else if (currentCulture == "ru-RU")
                {
                    <h1 class=" header-title">@ViewBag.CategoryNameRu</h1>
                }                <p>@AppRes.LiveAndWorkDesc</p>
                    </div>
            <div><img class="" src="~/Content/Images/Group.png" alt="Symbols"></div>
        </div>

}
    <!-- Activities Section -->
<div class="nav-links">
    @foreach (var item in ViewBag.Subcategories)
    {
            @if (currentCulture == "en")
            {
                <a href="#sub-@item.SubcategoryId">@item.Name</a>
            }
            else if (currentCulture == "hy-AM")
            {
                <a href="#sub-@item.SubcategoryId">@item.NameArm</a>
            }
            else if (currentCulture == "ru-RU")
            {
                <a href="#sub-@item.SubcategoryId">@item.NameRu</a>
            }

    }
</div>
</section>
    <div class="mb-1 ms-6">
    </div>

    <!-- Tourist Attractions Section -->
    @foreach (var item in ViewBag.Subcategories)
    {
        /*To do -- Subcategories Name Description translation to add in model*/
        <div class="section mb-5 ms-6">
            <div class="d-flex justify-content-between align-items-center">
            @if (currentCulture == "en")
            {
                <h2 id="sub-@item.SubcategoryId" class="section-heading">@item.Name</h2>
            }
            else if (currentCulture == "hy-AM")
            {
                <h2 id="sub-@item.SubcategoryId" class="section-heading">@item.NameArm</h2>
            }
            else if (currentCulture == "ru-RU")
            {
                <h2 id="sub-@item.SubcategoryId" class="section-heading">@item.NameRu</h2>
            }
            <img class="logoimage" width="60%" min-width="50%" src="~/Content/Images/Group 15.png" alt="Symbol">

        </div>
        @if (currentCulture == "en")
        {
            <p class="section-subtitle">@item.Description</p>
        }
        else if (currentCulture == "hy-AM")
        {
            <p class="section-subtitle">@item.DescriptionArm</p>
        }
        else if (currentCulture == "ru-RU")
        {
            <p class="section-subtitle">@item.DescriptionRu</p>
        }
        <div class="scroll-container" id="scrollContainer1">
            @foreach (var place in item.Places)
                {

                if (place.ArticleId == null)
                {
                        <div class="card newCard">
                            <img src="~/Images/places/@place.Photo" alt="Place Photo">
                            <div class="card-overlay">
                            @if (currentCulture == "en")
                            {
                                <h5 class="card-title"> @place.PlaceName</h5>
                                <p class="card-text">@place.Description</p>

                            }
                            else if (currentCulture == "hy-AM")
                            {
                                <h5 class="card-title"> @place.PlaceNameArm</h5>
                                <p class="card-text">@place.DescriptionArm</p>


                            } else if (currentCulture == "ru-RU")
                            {
                                <h5 class="card-title"> @place.PlaceNameRu</h5>
                                <p class="card-text">@place.DescriptionRu</p>

                            }

                            </div>

                        </div>
                } else {
                        <div class="cardnoarticle">

                            <img src="~/Images/places/@place.Photo" class="card-img-top" alt="Gyumri Drama Theatre">
                            <div class="card-body">
                            <a style="text-decoration:none;" asp-controller="Home" asp-action="Articles" asp-route-articleId="@place.ArticleId">

                            @if (currentCulture == "en")
                            {

                                <h5 class="card-title"> @place.PlaceName</h5>
                                <p class="card-text">@place.Description</p>

                            }
                            else if (currentCulture == "hy-AM")
                            {
                                <h5 class="card-title"> @place.PlaceNameArm</h5>
                                <p class="card-text">@place.DescriptionArm</p>


                            }
                            else if (currentCulture == "ru-RU")
                            {
                                <h5 class="card-title"> @place.PlaceNameRu</h5>
                                <p class="card-text">@place.DescriptionRu</p>

                            }
                            </a>

                            </div>
                            </div>
                    }
                }
        </div>

               
                
            </div>
    }
    

  @*   <div class="section mb-1 ms-6">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="section-heading">Cafes</h2>
        </div>
        <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="../Images/cafe1.jpeg" class="card-img-top" alt="Gyumri Drama Theatre">
                    <div class="card-body">
                        <h5 class="card-title">Gyumri Drama Theatre</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../Images/cafe2.jpeg" class="card-img-top" alt="Underground Art">
                    <div class="card-body">
                        <h5 class="card-title">Gyumri's Underground Art Spaces and Galleries</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../Images/cafe3.jpeg" class="card-img-top" alt="Gallery of Mariam">
                    <div class="card-body">
                        <h5 class="card-title">Gallery of Mariam and Eranuhi Aslamazyan Sisters</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="section mb-1 ms-6">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="section-heading">Bars & Nightlife</h2>
        </div>
        <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="#" class="see-more-link-black">See More<span class="arrow"> &#8702;</span></a>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="../Images/bar1.jpeg" class="card-img-top" alt="Gyumri Drama Theatre">
                    <div class="card-body">
                        <h5 class="card-title">Gyumri Drama Theatre</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../Images/bar2.jpeg" class="card-img-top" alt="Underground Art">
                    <div class="card-body">
                        <h5 class="card-title">Gyumri's Underground Art Spaces and Galleries</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../Images/bar3.jpeg" class="card-img-top" alt="Gallery of Mariam">
                    <div class="card-body">
                        <h5 class="card-title">Gallery of Mariam and Eranuhi Aslamazyan Sisters</h5>
                    </div>
                </div>
            </div>

        </div>
    </div> *@
<script src="https://kit.fontawesome.com/e8c2e1c09c.js" crossorigin="anonymous"></script>
